<ion-header>
  <ion-toolbar color=" ">
   
  <ion-buttons slot>
    
<ion-menu-button></ion-menu-button>
<ion-title>Rased-Employ Affairs</ion-title>

</ion-buttons>
</ion-toolbar>
</ion-header>

<ion-card>
  <img src="../../../assets/images/Logo.jpeg" alt="">
  <ion-card-title>Muath Almansour</ion-card-title>
  <ion-icon name="calendar-outline"></ion-icon>
  <ion-card-subtitle>30-4-2018 - 30-4-2018</ion-card-subtitle>
  <ion-list lines="none">
    
  <ion-item class="input_field">
  <ion-icon name="time-outline" ></ion-icon>
  <ion-card-subtitle>7:30 AM  -  2:30 PM</ion-card-subtitle>
</ion-item>
</ion-list>
<ion-card-subtitle>Your Inspection Task</ion-card-subtitle>
 </ion-card>
 


