<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title class="ion-text-center">Rased-Employ Affairs</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="ion-align-self-center">
    <img class="avatar ion-align-self-center" src="../../../assets/images/avatar.png" alt="" />
    <div class="card-content">
      <ion-card-title class="ion-text-center">Muath Almansour</ion-card-title>


      <ion-grid>
        <ion-row>
          <ion-col class="">
            <ion-icon class="ion-padding-end" name="calendar-outline" color="primary"></ion-icon>
            <ion-text class="">30-4-2018 - 30-4-2018</ion-text>
            <br>
            <ion-icon class="ion-padding-end" name="time-outline" color="primary"></ion-icon>
            <ion-text class="">7:30 AM - 2:30 PM</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p class="card-content-footer">Your Inspection Task</p>
      <ion-grid class="">
        <ion-row class="">
          <ion-col class="ion-text-center">1</ion-col>
          <ion-col class="ion-text-center">0</ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col class="ion-text-center">NEW</ion-col>
          <ion-col class="ion-text-center">COMPLETED</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>